html
{
padding-TOP:4px;
padding-bottom:4px;
padding-left:200px;
padding-right:200px;
border-color:00FF00;
}
body
{
background-image:url('pictures/t13.jpg');
font-family:sans-serif;
font-size:1em;
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
line-height:1.5em;
padding-right:5px;
padding-TOP:15px;
}
#img{
	transform: skew(30deg,15deg);
}
#img1{
	transform: rotate(30deg);
	
}
#header
{
	background-color:003300;
	color:white;
	text-align:center;
	padding:10px;
	
}
#content
{
	padding-TOP:10px;
	float:center;
	margin-left:auto;
    margin-right:auto;
	width:650px;
	text-align:centre;
	color:330033;
	background-color:;
}
#h1   
{
color:red;
text-transform:uppercase;
text-align:center;
padding-top:10px;
margin:0;
}
#h2
{
color:pink;
text-transform:uppercase;
text-align:center;
padding-top:10px;
}
#h3
{
color:black;
text-transform:uppercase;
}
#nav{
	width:1000px;
}
	
#container
{
background:rgba(255,255,255,0.7);
width:1000px;
margin-left:5o;
margin-right:50;
}
#main
{
text-align:centre;
color:003300;
width:900px;
float:right;
}
#footer
{
clear:both;
text-align:centre;
font-size:0.85em;
padding:10px;
width:1000px;
height:200px;
}
#menu
{
list-style:none;
margin:5px;
padding-left:250px;
overflow:hidden;
text-shadow:8px 8px 8px blue;
text-align:center;
}
#items
{
float:left;
}
a:link,a:visited
{
display:none;
width:150px;
font-weight:bold;
color:white;
background-color:#ff9966;
text-align:center;
padding:0px;
text-decoration:none;
}
a:hover,a:active
{
color:red;
}
#a
{
padding-left:0px;
background-color:white;
}
table
{
width:100%;
table-layout:fixed;
padding:4px;
background-color:yellow;
}
td
{
padding:50px;
vertical-align:top;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#p{
	font-size:10px;
	font-family:"Times New Roman";
	color:violet;

}

p.one {
	     border-width: 3px;
	  border-radius: 25px;
	   text-shadow: 5px 5px 5px yellow;
	   font-size:18px;
	   font-family:engravers mt;
}

b {
    width: 500px;
    height: 200px;
    background-color: yellow;
    box-shadow: 10px 10px 5px #888888;
	font-size:24px;
}
#grad{
	background: linear-gradient(red, blue);
}
